{% extends "jobOffers/base.html" %}
{% block content %}
    {% for offer in offers %}
    <article class="media content-section">
        <img class="rounded-circle article-img" src="{{ offer.creator.profile.image.url }}">
        <div class="media-body">
            <div class="article-metadata">
                <small class="text-muted">Created by: <a href="#">{{ offer.creator }}</a></small>
                <p>{{ offer.pub_date }}</p>
            </div>
                <h1>{{ offer.company }} </h1>
                <h2><a class="article-title" href="{% url 'jobOffers:jobOffers-detail' offer.id %}"> {{ offer.title }}</a></h2>
                <p>{{ offer.description }}</p>
            </div>
    </article>
    {% endfor %}
{% endblock content %}
